.container {
  background-color: #fff;
  padding: 0 42px;
}
.wrapper {
  background-color: #dddddd;
  padding: 42px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  padding:10vw;
  width: 25vw;
  height: 57vh;
  background-color: #a4a4a4;
  margin-right: 90px;
}
.long-line {
  background-color: #a4a4a4;
  width: 28vw;
  height: 9vh;
  margin-bottom: 22px;
}
.med-line {
  background-color: #a4a4a4;
  width: 23vw;
  height: 4vh;
  margin-bottom: 12px;
  border-radius: 50px;
}
.short-line {
  background-color: #a4a4a4;
  width: 18vw;
  height: 4vh;
  margin-bottom: 22px;
  border-radius: 50px;
}
.pill-line {
  background-color: #606060;
  width: 15vw;
  height: 4vh;
  border-radius: 50px;
}

@media screen and (max-width: 414px) {
    .wrapper {
        background-color: transparent;
        flex-direction: column-reverse;
    }

    .pill-line {
        margin-bottom: 78px;
    }

    .box {
        margin: 0 57px 0 49px;
    }
}