.container {
  background-color: #fff;
  padding: 0 42px;
}
.wrapper {
  background-color: #dddddd;
  padding: 42px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  width: 308px;
  height: 284px;
  background-color: #a4a4a4;
  margin-right: 90px;
}
.long-line {
  background-color: #a4a4a4;
  width: 300px;
  height: 41px;
  margin-bottom: 22px;
}
.med-line {
  background-color: #a4a4a4;
  width: 230px;
  height: 21px;
  margin-bottom: 12px;
  border-radius: 50px;
}
.short-line {
  background-color: #a4a4a4;
  width: 189px;
  height: 21px;
  margin-bottom: 22px;
  border-radius: 50px;
}
.pill-line {
  background-color: #606060;
  width: 163px;
  height: 37px;
  border-radius: 50px;
}

@media screen and (max-width: 414px) {
    .wrapper {
        background-color: transparent;
        flex-direction: column-reverse;
    }

    .pill-line {
        margin-bottom: 78px;
    }

    .box {
        margin: 0 57px 0 49px;
    }
}